@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    * {
        box-sizing: border-box;
    }

    .menu {
        float: left;
        width: 20%;
    }

    .menuitem {
        padding: 8px;
        margin-top: 7px;
        border-bottom: 1px solid #f1f1f1;
    }

    .main {
        float: left;
        width: 60%;
        padding: 0 20px;
        overflow: hidden;
    }

    .right {
        background-color: lightblue;
        float: left;
        width: 20%;
        padding: 10px 15px;
        margin-top: 7px;
    }

</style>
<div style="background-color:#065e87;padding:15px;color:#fff;">
  <h1>Voidek Webolutions</h1>  
</div>

<div style="overflow:auto" class="mt-2">
  <div class="menu">
    <div class="menuitem">.Net team</div>
    <div class="menuitem">Php ream</div>
    <div class="menuitem">AI/ML team</div>    
  </div>

  <div class="main">
        <p>A software company that had its humble beginnings with just two people in the work force, evolving into one of the key players in website development in a spell as short as two years,
            having 25+ members on the team as of today: that’s who we are –Voidek Webolutions. Launched in 2019, however, there were no short cuts to our phenomenal growth. </p>
        <div class="d-flex">
            <img src="~/images/voidek_logo.jpg" style="width: 33%;height: 200px;" /> <h1>Voidek <br /> Webolutions</h1>
        </div>        
  </div>

  <div class="right">
    <h2>What?</h2>
        <p>A software company</p>
    <h2>Where?</h2>
    <p>Bardoli</p>   
  </div>
</div>


<h1 class="mt-5" style="background-color:#f08904;text-align:center;padding:10px;font-size:12px;"> We provide the exceptional service we’d want to experience ourselves.</h1>
