@{
    ViewData["Title"] = "Voidek Webolution Skillful Saturday";
}

<div class="text-center mb-5">
    <h1 class="display-5">Welcome to Voidek Webolution Skillful Saturday</h1>   
</div>
<div class="text-center mb-5">
    <div data-view-component="true" class="js-notice new-feed-onboarding-notice d-flex flex-column width-full flex-items-baseline border rounded-2 color-border-default color-shadow-medium p-3 mt-2 mb-2">       
        <p data-view-component="true" class="my-3">
            "Discover the magic of learning on <b>SKILLFUL SATURDAY</b>", as <b><i>Voidek Webolutions</i></b> proudly announces the
            start of the new.....<br />
            <b>✨ Saturday series - Skillful Saturday. ✨</b>
        </p>
        <p>Skill and confidence are an unconquered army so...</p>
        <p data-view-component="true" class="display-6 my-3">
            <b><i>"Learn as if you were not reaching your goal and as though you were scared of missing it.."</i></b>
        </p>
        <div>
            <a href="https://voidek.in/activities/" data-view-component="true" class="Link ml-2 text-bold">Voidek Webolutions Activity</a>
        </div>
    </div>
</div>
